<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image CLASSIFICATION</title>

    <style>
        div{
            height: 800px;
            background: linear-gradient(to bottom, #667eea 0%, #764ba2 100%)
        }
    </style>

</head>
<body>

    <div>
        <center>

            <br/>
            <img src="{{url_for('static', filename='covidbg.png')}}" style="height:200px"/>

            <h3>Welcome to Image Classification CNN Model</h3>
            <p>COVID-19 Chest Xray Examination</p>

            <br/>

            <a href="train">TRAIN CNN MODEL</a>

        </center>
    </div>

</body>
</html>