<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyApp - Registrattion</title>
</head>
<body>

 <center>

        <br/>
        <h3>Welcome to MyApp</h3>
        <h4>Please Register Here</h4>
        <form action="register-user" method="post">
            Name: <input type="text" name="txtName" placeholder="eg: John Watson"/>
            <br/>
            Email: <input type="text" name="txtEmail" placeholder="eg: john@example.com"/>
            <br/>
            Password: <input type="password" name="txtPassword" placeholder="Min 6 characters"/>
            <br/>
            <input type="submit" value="REGISTER">
        </form>
 </center>

</body>
</html>