<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Student</title>
</head>
<body>

    <center>
        <h3>Welcome to LMS - Student</h3>
        <h4>Please Login to Your Account</h4>
        <form>
            <input type='text' name='txtPhone' placeholder='Enter Your Phone Number'/>
            <br/>
            <input type='text' name='txtOTP' placeholder='Enter OTP'/>
            <br/>
            <input type='submit' value='LOGIN STUDENT'/>
        </form>

        <br/>

        <h4><i>OUR MINDS LEARN WHEN WE HAVE A REAL STAKE IN THE OUTCOME OF OUR LEARNING</i></h4>
    </center>

</body>
</html>