<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyApp</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>

    <div class="jumbotron text-center">
        <h3>Welcome to MyApp</h3>
        <p>Search the candle rather than cursing the darkness</p>
    </div>

    <h3>FILE {{name}} UPLOADED SUCCESSFULLY</h3>

</body>
</html>